<%= form_with(model: entrega, local: true) do |form| %>
  <% if entrega.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entrega.errors.count, "error") %> prohibited this entrega from being saved:</h2>

      <ul>
        <% entrega.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ticket %>
    <%= form.text_field :ticket %>
  </div>

  <div class="field">
    <%= form.label :asegurado %>
    <%= form.text_field :asegurado %>
  </div>

  <div class="field">
    <%= form.label :medico %>
    <%= form.text_field :medico %>
  </div>

  <div class="field">
    <%= form.label :hospital %>
    <%= form.text_field :hospital %>
  </div>

  <div class="field">
    <%= form.label :coaseguro %>
    <%= form.text_field :coaseguro %>
  </div>

  <div class="field">
    <%= form.label :icd %>
    <%= form.number_field :icd %>
  </div>

  <div class="field">
    <%= form.label :ctp %>
    <%= form.number_field :ctp %>
  </div>

  <div class="field">
    <%= form.label :ctp2 %>
    <%= form.number_field :ctp2 %>
  </div>

  <div class="field">
    <%= form.label :folio %>
    <%= form.number_field :folio %>
  </div>

  <div class="field">
    <%= form.label :reclamacion %>
    <%= form.text_field :reclamacion %>
  </div>

  <div class="field">
    <%= form.label :ingreso %>
    <%= form.text_field :ingreso %>
  </div>

  <div class="field">
    <%= form.label :solicitud %>
    <%= form.text_field :solicitud %>
  </div>

  <div class="field">
    <%= form.label :fecha_even %>
    <%= form.text_field :fecha_even %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
