<p id="notice"><%= notice %></p>

<h1>Entregas</h1>

<table>
  <thead>
    <tr>
      <th>Ticket</th>
      <th>Asegurado</th>
      <th>Medico</th>
      <th>Hospital</th>
      <th>Coaseguro</th>
      <th>Icd</th>
      <th>Ctp</th>
      <th>Ctp2</th>
      <th>Folio</th>
      <th>Reclamacion</th>
      <th>Ingreso</th>
      <th>Solicitud</th>
      <th>Fecha even</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entregas.each do |entrega| %>
      <tr>
        <td><%= entrega.ticket %></td>
        <td><%= entrega.asegurado %></td>
        <td><%= entrega.medico %></td>
        <td><%= entrega.hospital %></td>
        <td><%= entrega.coaseguro %></td>
        <td><%= entrega.icd %></td>
        <td><%= entrega.ctp %></td>
        <td><%= entrega.ctp2 %></td>
        <td><%= entrega.folio %></td>
        <td><%= entrega.reclamacion %></td>
        <td><%= entrega.ingreso %></td>
        <td><%= entrega.solicitud %></td>
        <td><%= entrega.fecha_even %></td>
        <td><%= link_to 'Show', entrega %></td>
        <td><%= link_to 'Edit', edit_entrega_path(entrega) %></td>
        <td><%= link_to 'Destroy', entrega, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entrega', new_entrega_path %>
