<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @entrega.ticket %>
</p>

<p>
  <strong>Asegurado:</strong>
  <%= @entrega.asegurado %>
</p>

<p>
  <strong>Medico:</strong>
  <%= @entrega.medico %>
</p>

<p>
  <strong>Hospital:</strong>
  <%= @entrega.hospital %>
</p>

<p>
  <strong>Coaseguro:</strong>
  <%= @entrega.coaseguro %>
</p>

<p>
  <strong>Icd:</strong>
  <%= @entrega.icd %>
</p>

<p>
  <strong>Ctp:</strong>
  <%= @entrega.ctp %>
</p>

<p>
  <strong>Ctp2:</strong>
  <%= @entrega.ctp2 %>
</p>

<p>
  <strong>Folio:</strong>
  <%= @entrega.folio %>
</p>

<p>
  <strong>Reclamacion:</strong>
  <%= @entrega.reclamacion %>
</p>

<p>
  <strong>Ingreso:</strong>
  <%= @entrega.ingreso %>
</p>

<p>
  <strong>Solicitud:</strong>
  <%= @entrega.solicitud %>
</p>

<p>
  <strong>Fecha even:</strong>
  <%= @entrega.fecha_even %>
</p>

<%= link_to 'Edit', edit_entrega_path(@entrega) %> |
<%= link_to 'Back', entregas_path %>
