// Place all the styles related to the Entregas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mini-table{
	font-family:Arial, sans-serif;
		width: 350px;
}

.table-date{
	width: 400px;
}

.bg-light {
	background-color: #E0D9D7 !important;
}

.mini-table-static{
	width: 90px;
}

.mini-table-static-large{
	width: 130px;
}

.mini-table-static-small{
	width: 50px;
}