
	<table>
		<thead>
			<tr>
				<th>
					Titulo
				</th>
				<th>
					Precio
				</th>
			</tr>
		</thead>

		<tbody>
			<% @products.each do |product| %>
			<tr>
				<td>
					<%= product.title%>
				</td>
				<td>
					<%= product.pricing%>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
